h1 {
    font-size: 41px;
    color: rgb(1, 1, 189);
    text-align: center;
}

body {
    background-color: rgb(103, 94, 158);
}

.buttons {
    display: flex;
    width: 100%;
}

.btn {
    width: 100%;
}

.twoTexts {
    column-count: 2;
    column-gap: 10px;
    column-rule-style: solid;
    column-rule-width: 3px;
    column-rule-color: rgb(2, 2, 105);
}